.header {
  text-align: center;
  margin: 10px 0 0 70px;
}

h3 {
  text-align: center;
}

.results-jumbotron {
  height: 8em;
}

.results {
  text-align: center;
  line-height: 0px;
  font-size: 48px;
  font-weight: bold;
}

card-title {
  margin-top: 10px;
  font-size: 14px;
}
