.social-media-container {
  background-color: #7fffd4;

  margin-bottom: 50px;
}

.acumind {
  height: 70px;
  margin: 0 0 20px;
}

.header {
  margin: -80px 0 -60px 0px;
  text-align: center;
}

button {
  float: right;
  margin: 20px;
}
