.card-container {
  position: relative;
}

.card-title,
.card-text {
  color: #fff;
  position: absolute;
  text-align: center;
}

.card-title {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
}
