.navbar {
  background-color: #7fffd4;
  color: #414141;
  font-size: 14px;
  font-weight: bold;
}

.navbar-brand {
  margin-top: 15px;
}

.logo {
  height: 85px;
  position: absolute;
  left: 47%;
}
