.social-media {
  margin-top: 50px;
}

.social-media-container {
  height: 3.5em;
  background-color: aquamarine;
  padding: 0.5em;
}

.twitter {
  height: 25px;
  float: right;
  margin: 0px 5px;
  margin-right: 0px;
}

.description > .lead {
  font-size: 12px;
  text-align: center;
}

.main-title-container {
  margin: 20px auto;
}

.main-title {
  margin: 0 auto;
  width: 40%;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

.button-container {
  text-align: center;
}
